.text-title {
  font-size: 20px;
}

body {
  background-image: url(../assets/images/cielo.jpg);
  background-size: cover;
}

.gray {
  background-color: rgba(29, 29, 29, 0.6);
  border-radius: 5px;
}

.img-icon {
  display: block;
  margin: auto;
}

.temp {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 25px;
}

.btn-week {
  font-weight: bolder;
  display: block;
}

.btn-week:hover {
  background: rgb(36, 94, 126);
  font-size: 15px;
}

.btn-week:active {
  font-size: 15px;
}

.hiden {
  display: none;
}

.item {
  background: rgb(42, 45, 87);
  border-radius: 5px;
  color: white;
  padding: 10px;
}
